{% extends "base.html" %}


{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<div class="row">
  <h1>Привет, я автор</h1>
    <aside class="col-12 col-md-6">
        <img src="{% static 'img/P.png' %}" width="360" height="360" class="d-inline-block align-top" alt="">
    </aside>
    <article class="col-12 col-md-6">
      <h2>Голованов Андрей</h2>
      <p>
      <h4>Почта: andrew-98_10@yandex.ru</h4>
      <h4>github: Andrew-8910</h4>
      </p>
    </aside>
{% endblock %} 